@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face{
    font-family: "Me Quran";
    src: url("./quranfont.ttf") format("truetype");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter','Me Quran', sans-serif;
}

a{
    color:inherit;
    text-decoration: none;
}
.bm-burger-button{
    display: none;
}

.bm-item:hover {
    text-decoration: underline;
    color: rgb(39, 130, 239);
    transition: all ease 400ms;
}

button{
    background: none;
    border:none;
    outline:none;
    cursor:pointer;
}


@media (max-width:1000px) {
    .bm-burger-button{
        display: inline-block;
    }
}
